.slider {
    background-color: #eaf0f2;
    &__container {
        @include prefect-center;
        max-width: $max-width-px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;

        &__right {
display: flex;
flex-direction: column;
gap: 30px;
align-items: flex-start;

&__link{
    padding: 10px 15px;
    background-color: #1ab69d;
    border-radius: 5px;
    color: white;
    font-size: large;
}

            &__title{
                font-weight: 900;
                font-size: 70px;

                span {
                    color: red;
                }
            }

        }

       
    }
}