//color

$bg-header: black;
$txt-secondary: black;
$bg-secondary: rgb(125, 125, 88);
$txt-main: white;
$bg-light: white;
$bg-main:#1ab69d;
//spacings
$spc-10: 2px;
$spc-11: 4px;
$spc-12: 8px;
$spc-100: 500px;

//font weights
$light: 100;
$medium: 500;
$bold: 900;

// width
$max-width-px:1280px;
$max-width:100%;
$medium-width:80%;
$min-width:50%;




